body {
  background-color: lightblue;
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
h2 {
  text-align: center;
}
ul {
}

#show-chore {
  display: none;
}

.chore {
  cursor: pointer;
  color: #0088cc;
  font-size: 20px;
}

.chore:hover {
  text-decoration: underline;
}
